* {
  box-sizing: border-box;
}

body {
  font-family: American, Typrewriter, serif;
}

/* Style the header */
header {
  background-color: #3E424B;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
.sidenav {
  height:100%;
  width: 0;
  /*height: 300px;  only for demonstration, should be removed */
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  background:#3E424B;
  overflow-x:hidden;
  transition: 0.6s;
  padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display:block;
	transition:0.3s;
	
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height : 450px) {
	.sidenav {padding-top: 15pz;}
	.sidenav a {font-size : 18px;}
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)"
class="closebtn"
onclick="closeNav()">&times;</a>
	<li><h5><a href="index.html">Course</a>
    <a href="project.html">Project</a>
	 <a href="concepts.html">Concepts</a>
	 <a href="database.html">Databases</a>
	  <a href="documentation.html">Documentation</a>
      <a href="aboutme.html">Dev Team</a>
</div>

<script>
function openNav() {

document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {

document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>
	
	
	

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color:#3E424B;
  /* height: 300px;  only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color:#3E424B ;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  sidenav, article {
    width: 100%;
    height: auto;
  }
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}